*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(116, 180, 214);
  background: linear-gradient(
    135deg,
    rgba(116, 180, 214, 1) 27%,
    rgba(104, 203, 165, 1) 57%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}
.number-element {
  display: inline-block;
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 1200deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.number1 .number-element {
  transform: rotate(-30deg);
}
.number2 .number-element {
  transform: rotate(-60deg);
}
.number3 .number-element {
  transform: rotate(-90deg);
}
.number4 .number-element {
  transform: rotate(-120deg);
}
.number5 .number-element {
  transform: rotate(-150deg);
}
.number6 .number-element {
  transform: rotate(-180deg);
}
.number7 .number-element {
  transform: rotate(-210deg);
}
.number8 .number-element {
  transform: rotate(-240deg);
}
.number9 .number-element {
  transform: rotate(-270deg);
}
.number10 .number-element {
  transform: rotate(-300deg);
}
.number11 .number-element {
  transform: rotate(-332deg);
}

.clock::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 15px;
  height: 15px;
  background: black;
  z-index: 11;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hand.second {
  width: 2px;
  height: 45%;
  background: red;
  z-index: 10;
}

.hand.minute {
  width: 5px;
  height: 40%;
  background: black;
  z-index: 9;
  /* transform: rotate(40deg); */
}
.hand.hour {
  width: 8px;
  height: 30%;
  background: black;
  z-index: 8;
  /* transform: rotate(90deg); */
}
